p {
  line-height: 2;
  text-align: justify;
}

li {
  line-height: 2;
}

/*NAVIGATION BAR*/
.navbar-brand {
  margin-left: 100px;
  font-size: 2rem;
}

.navbar-right {
  margin-right: 100px;
}

.nav-item {
  padding-left: 10px;
  padding-right: 10px;
  font-size: 1.1rem;
}

/*CONTAINERS*/
.home-container-fluid {
  padding: 11% 7%;
}

.container-fluid {
  padding: 7% 7%;
}

.footer-container-fluid {
  padding: 1.75% 7% 0.75% 7%;
}

/*SECTIONS*/
.colored-section {
  background-color: black;
  color: white;
}

/*HOME PAGE*/
.title-text {
  margin-top: 100px;
}

.title-image {
  width: 60%;
  height: 125%;
  position: relative;
  left: 40%;
  bottom: 5%;
}

/*ABOUT PAGE*/
.about-image {
  width: 35%;
}

.footer-text {
  font-size: 14px;
  text-align: center;
}
