.navbar-brand {
  margin-left: 100px;
  font-size: 2rem;
}

.navbar-right {
  margin-right: 100px;
}

.nav-item {
  padding-left: 10px;
  padding-right: 10px;
  font-size: 1.1rem;
}

.home-container-fluid {
  padding: 11% 7%;
}

.container-fluid {
  padding: 7% 7%;
}

.footer-container-fluid {
  padding: 3% 7%;
}

.title-text {
  margin-top: 100px;
}

.title-image {
  width: 60%;
  height: 125%;
  position: relative;
  left: 40%;
  bottom: 5%;
}

.colored-section {
  background-color: black;
  color: white;
}

.about-image {
  width: 35%;
}

p {
  line-height: 2;
  text-align: justify;
}

li {
  line-height: 2;
}

.bottom-container-fluid {
  padding: 3% 7%;
}

.footer-text {
  font-size: 12px;
  text-align: center;
}
